.mainContent {
    width: 75%;
    background-color: var(--secondary-color);
    color: black;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.mainContent h3 {
    font-size: medium;
    font-weight: 600;
}

.mainTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainPeople {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mainSearch {
    background-color: white;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardBalance {
    border: 3px solid var(--border-color);
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 20px;
    width: 60%;
    font-size: small;
}

.cardTransactions {
    border: 3px solid var(--border-color);
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 20px;
    width: 65%;
    font-size: small;
}

.cardAnalytics {
    border: 3px solid var(--border-color);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 20px;
    width: 35%;
    font-size: small;
}

.cardAnalyticsTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.cardBalanceTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardTransactionsTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 20px 0px;
}

.cardTransactionsTitle p:hover {
    color: var(--third-color);
    cursor: pointer;
}

.cardTransactionsTitle>div {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}

.cardBalanceContent {
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter {
    display: flex;
    background-color: var(--border-color);
    padding: 10px;
    border-radius: 10px;
}

.cardVisa {
    width: 40%;
    border: 3px solid var(--border-color);
    background-image: linear-gradient(to bottom right, #322E2B, var(--primary-color));
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 20px;
    color: white;
    justify-content: space-between;
}

.visaPic {
    display: flex;
    justify-content: center;
}

.cardVisaNumber div {
    display: flex;
    justify-content: space-between;
}

.cardVisaNumber h4 {
    font-weight: 500;
}

.cardVisaNumber {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.cardVisaTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainBalanceVisa,
.mainBuyChat,
.mainTransactionsAnalytics {
    display: flex;
    gap: 20px;
}

.cardBalanceFirstContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 30%;
}

.cardBalanceSecondContent {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.yourTotalBalance {
    display: flex;
    gap: 10px;
    align-items: center;
}

.yourTotalBalance p {
    font-size: x-small;
}

.yourEarnings {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.yourEarnings div {
    display: flex;
    gap: 5px;
    font-size: small;
}

.cardBalanceFirstContent>p {
    color: gray;
    font-size: x-small;
}

.cardBalanceFirstContent h1 {
    font-size: x-large;
}

.cardBuyChat {
    border: 3px solid var(--border-color);
    background-color: white;
    display: flex;
    padding: 15px;
    border-radius: 20px;
    width: 100%;
    font-size: small;
}

.cardBuy {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    padding: 10px;
    justify-content: space-between;
    border-right: 1px solid var(--border-color);
}

.cardChat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 50%;
    padding: 10px;
    border-left: 1px solid var(--border-color);
}

.cardBuyTime {
    display: flex;
    gap: 10px;
}

.cardBuyTime p {
    color: gray;
}

.checkboxContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Two columns */
    gap: 10px;
    cursor: pointer;
}

.checkbox {
    background-color: var(--fourth-color);
    padding: 20px 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 5px;
    justify-content: space-between;
}

.shoppingContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.addShopping {
    display: flex;
    justify-content: space-between;
}

.addShopping span {
    font-weight: 600;
}

.messageSender {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.messageReceiver {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.messageSender p {
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.messageReceiver p {
    background-color: var(--fourth-color);
    padding: 10px;
    border-radius: 10px;
}

.chatInput {
    background-color: var(--fourth-color);
    padding: 10px 20px;
    border-radius: 10px;
}

.addItem {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 600;
}

.addItem:hover {
    color: var(--third-color);
    cursor: pointer;
}

.inputItem {
    display: flex;
    gap: 10px;
}

.inputItem input {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
}

.inputItemButton {
    border: none;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
}

.inputItemButton:hover {
    background-color: var(--third-color);
    cursor: pointer;
}

.chatContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.chatInput input {
    outline: none;
    border: none;
    width: 100%;
    height: 50px;
    background: inherit;
}

.underline {
    text-decoration: underline;
}

.buttonSend {
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.buttonSend:hover {
    background-color: var(--third-color);
}

.bottomInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottomInput div {
    display: flex;
    gap: 5px;
}

.transactionList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.transactionList>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.transactionList>div>div>p {
    color: gray;
}

.transactionList>div>p {
    font-weight: 600;
}

.transactionList>div>div {
    display: flex;
    flex-direction: column;
}

.doughnut {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-height: 25vh;
}

.analyticsText {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
}

.doughnut p {
    color: gray;
}


@media screen and (max-width: 768px) {
    .mainContent {
        width: 100%;
        min-height: 100vh;
    }

    .mainBalanceVisa {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .cardVisa,
    .cardBalance {
        width: 100%;
        min-height: 40vh;
    }

    .cardBalanceContent {
        flex-direction: column;
        width: 100%;
    }

    .cardBuyChat {
        flex-direction: column;
    }

    .cardBuy {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid var(--border-color);
    }

    .cardChat {
        width: 100%;
        border-left: none;
        border-top: 1px solid var(--border-color);
    }

    .cardBalanceFirstContent,
    .cardTransactions,
    .cardAnalytics,
    .cardBalanceSecondContent {
        width: 100%;
    }

    .mainBalanceVisa,
    .mainBuyChat,
    .mainTransactionsAnalytics {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .doughnut {
        max-height: 40vh;
    }

    .yourTotalBalance {
        justify-content: center;
    }

    .yourTotalBalance p {
        font-size: medium;
        font-weight: 500;
    }

    .cardBalanceFirstContent>p {
        font-size: small;
    }
}

@media screen and (min-width: 1367px) {
    .cardBalanceFirstContent h1 {
        font-size: xx-large;
    }
}